---
const { title, subtitle, desc, school } = Astro.props;
---

<div class="flex">
	<div class="education__time">
		<span class="w-4 h-4 bg-slate-700 block rounded-full mt-1"></span>
		<span
			class="bg-gradient-to-r from-emerald-400 to-zinc-800 education__line bg-emerald-400 block h-full w-[2px] translate-x-[7px]"
		></span>
	</div>
	<div class="experience__data bd-grid px-5">
		<h3 class="font-normal mb-1">{title}</h3>
		<h3 class="italic mb-1 text-sm">{school}</h3>
		<span class="font-light text-sm">{subtitle}</span>
		<p class="my-2 text-justify">
			{desc}
		</p>
	</div>
</div>
