---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import index from "../styles/index.css";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---
<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-5xl font-bold ">
        <span class="type">
        <span>
          <span>Hello</span>
          <span>你好</span>
          <span>Привет</span>
        </span>
        </span>
      </div>
      <div class="text-3xl py-3 font-bold">CS @ University of Wisconsin - Madison</div>
      <div class="py-2"> 
        <text class="whitespace-pre-line text-lg">
          I find technology fascinating. I am always habitually poking around in different areas of Computer Science - from Web Development to true low-level development in Compilers and reversing x86 ASM. 

          </text>
          <text class="whitespace-pre-line text-lg">Currently, I am studying Computer Sciences at the University of Wisconsin - Madison, where I help run the Computer Science Undergraduate Project Laboratory. I assist students with project ideas and internships and organize large-scale hackathons for the greater student body at UW - Madison.
          
          </text>
          <text class="whitespace-pre-line text-lg">In my free time, I tend to explore areas of interest in Computer Science - usually in the form of doing a project (examples detailed below). I also write a plethora of Leetcode solutions online, which can be found <a class="text-green-400" target="_blank" href="https://leetcode.com/wallenben/">here</a>.</text>
        </div>
      <div class="mt-8">
        <a class="btn btn-primary" href="https://www.linkedin.com/in/wallenben/" target="_blank"> LinkedIn</a>
        <a href="/resume" class="btn btn-outline ml-5"> Resume</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">Latest Projects</div>
    </div>

    <HorizontalCard
      title="Momentum Mod"
      img="https://cdn.cloudflare.steamstatic.com/steam/apps/669270/header.jpg?t=1673076376"
      desc="Worked on the full-stack web portion of the game and the UI in C++. The game is a mod for Half-Life 2, and is a racing game with a focus on advanced movement physics in the Source Engine."
      url="https://momentum-mod.org/"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Gameboy Research Emulator"
    img="https://cdn.arstechnica.net/wp-content/uploads/2018/01/gb.jpg"
    desc="Creating a Gameboy emulator from scratch, with a focus on understanding the inner workings of the Gameboy. The emulator is written in C using SDL2 for graphics and audio."
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Compiler Creation"
    img="https://upload.wikimedia.org/wikipedia/en/d/dd/LLVM_logo.png"
    desc="Created a compiler that transposes a unique, custom (C-like) language to MIPS assembly code per my enrollment in CS-536 at UW - Madison."
    url="/projects"
    target =  "_self"
    badge="NEW"
  />


    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
